@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  font-family: 'Oxygen';
  background-color: #1d2021;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
}

.AppBody {
  display: flex;
  justify-content: center;
}

.Page {
  margin-top: 30px;
  min-width: 800px;
  padding: 20px;
  color: #fbf1c7;
  background-color: #282828;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.placeholder {
  color: #a89984;
}

h4 {
  margin-top: 0px;
  color: #a89984;
}

a {
  color: #fbf1c7;
}

ul {
  padding-left: 0px;
  list-style: none;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input[type=text],input[type=number],select {
  border-width: 0px;
  background-color: #504945;
  color: #fbf1c7;
  padding: 4px;
  margin-top: 6px;
  margin-right: 4px;
  margin-bottom: 6px;
  font-size: 1em;
}

input[type=submit],button {
  border-width: 0px;
  background-color: #8f3f71;
  color: #fbf1c7;
  padding: 4px;
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  height: 34px;
  width: 100px;
  font-size: 1em;
  transition: background-color 0.08s;
}

input[type=submit]:hover,button:hover {
  background-color: #b16286;
}

input[type=submit].primary,button.primary {
  background-color: #076678;
}

input[type=submit].primary:hover,button.primary:hover {
  background-color: #458588;
}

input[type=submit].alert,button.alert {
  background-color: #9d0006;
}

input[type=submit].alert:hover,button.alert:hover {
  background-color: #cc241d;
}

button:disabled {
  color: #a89984;
}
