@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  font-family: 'Oxygen';
  background-color: #78c481;
  margin: 0px;
}

.App {
}

.AppBody {
  margin: 20px;
}

a {
  color: #000000;
}

ul {
  padding: 0px;
  padding-left: 20px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #3e5942;
  color: white;
}

input[type=submit],button {
  border-width: 0px;
  background-color: #3e5942;
  color: white;
  padding: 8px;
  margin: 2px;
  width: 100px;
  border-radius: 4px;
}

input[type=submit].primary,button.primary {
  background-color: #f2c224;
  color: black;
}

input[type=submit].alert,button.alert {
  background-color: #f22e24;
  color: black;
}

button:disabled {
  color: #888;
}
